.about {
    display: grid;
    place-items: center;
    max-width: 80%;
    margin: 1rem auto;
}

.about-header {
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    color: var(--primary-color);
    font-family: "Montserrat", "serif";
}

.about-container {
    background-color: white;
    margin: 1% auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px azure;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;

    div {
        display: flex;
        place-content: flex-start;
    }
}

.about-container .experience-header {
    font-family: "Montserrat", "serif";
    width: 100%;
    justify-content: center;
}

.about-container .bio {
    text-align: center;
    margin: 0 8%;
    font-family: "Montserrat", "serif";
}


.about-container .previous-experience {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    place-items: flex-start;
}

.about-container .previous-experience .qualtrics,
.about-container .previous-experience .eleos,
.about-container .previous-experience .db-services {
    width: auto;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

.about-container .previous-experience .qualtrics p, 
.about-container .previous-experience .eleos p,
.about-container .previous-experience .db-services p {
    margin-left: 3rem;
    font-family: "Montserrat", "serif";
}

.about-container .previous-experience .qualtrics ul, 
.about-container .previous-experience .eleos ul,
.about-container .previous-experience .db-services ul {
    margin-left: 1rem;
    font-family: "Montserrat","serif";
    font-size: 14px;
}

@media screen and (max-width: 1440px) {
    .about-container {
        margin-left: 5rem;
    }
}

@media screen and (max-width: 925px) {
    .about {
        max-width: 100%;
        height: 100vh;
    }

    .about-container {
        max-width: 40rem;
        margin-left: 5rem;
    }

    // .bio {
    //     margin: 0 8%;
    // }
}

@media screen and (max-width: 425px) {
    .about {
        max-width: 100%;
    }

    .about-container {
        max-width: 15rem;
        margin: 0;
    }

    .about-container .previous-experience .experience-header {
        width: auto;
    }

    .about-container .previous-experience .qualtrics p,
    .about-container .previous-experience .qualtrics p, 
    .about-container .previous-experience .eleos p {
        margin-left: 1rem;
    }

    .about-container .previous-experience .qualtrics ul,
    .about-container .previous-experience .eleos ul,
    .about-container .previous-experience .db-services ul {
        margin-left: -1rem;
    }
}