.bio {
    display: block;
    text-align: center;
    margin-bottom: 4%;
}

.title,
.about-me,
.joke-container,
.fade-container {
    color: var(--text-secondary);
    font-family: "Montserrat", "serif";
}

.title { margin: 4rem 25% 0 25%; }

.about-me { margin: 1rem 25% 0 25%; }

.images {
    background-color: transparent;
    text-align: center;

    .ps-img {
        display: inline-block;
        justify-content: center;
        width: 160px;
        height: 160px;
        margin: 0 4% 10%;
    }
}

.pictures {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    text-align: center;
    align-items: center;
    margin: 0 5% 0 5%;
}

.g-img {
    display: inline-block;
    justify-content: center;
    width: 50%;
    height: 12%;
    margin: 2% 4% 0 4%;
    border-radius: 10px;
}

.db-link {
    color: white;

    &:hover {
        color: #56A4B8;
        cursor: pointer;
        transition: 250ms;
    }
}

.up {
    width: 100%;
    padding-bottom: 3%;
}

.down {
    width: 100%;
    padding-top: 5%;
}

.double {
    padding-bottom: 7%;
}

.joke-button {
    display: none;
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 0 5px;
    font-size: 20px;
    color: white;
    border: 1px solid white;

    &:hover {
        transition: all 0.2s ease-out;
        color: #242424;
        background: white;
    }
}

@keyframes jokeAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

.fade-container {
    transition: opacity 1s ease-in-out;
}

.visible {
    opacity: 1;
}
  
.hidden {
    opacity: 0;
}  

.joke-container {
    animation-name: jokeAnimation;
    animation-duration: 1s;
    margin: 1rem 25%;
}

@media screen and (max-width: 425px) {
    .pictures {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        text-align: center;
        align-items: center;

        .g-img {
            display: inline-block;
            justify-content: center;
            width: 50%;
            height: 50%;
            margin: 2% 4% 3% 4%;
        }
    }

    .left {
        padding-right: 20%;
    }

    .right {
        padding-left: 20%;
    }
}